<!-- <html>
<head>
  <meta charset="utf-8">
  <title>jsQR Demo</title>
  <script src="./jsQR.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Ropa+Sans" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>
</head>
<body>

  <script>
    const ssh2 = await require('ssh2');

    // Usage example:
const sshConfig = {
  host: '165.246.44.97',
  port: 22,
  username: 'lilmae',
  password: '970512',
};

function sendToShell(messageToSend, sshConfig) {
  const client = new ssh2.Client();

  client.on('ready', () => {
    console.log('SSH connection established.');

    client.shell((err, stream) => {
      if (err) throw err;

      stream.on('close', (code, signal) => {
        console.log('SSH shell closed with code ' + code);
        client.end();
      });

      stream.on('data', (data) => {
        console.log('Received data from the shell: ' + data);
      });

      // Send your message to the shell
      stream.write(messageToSend + '\n'); // Adding '\n' to simulate pressing Enter

      // Close the shell after sending the message
      stream.end();
    });
  });

  client.on('error', (err) => {
    console.error('SSH connection error: ' + err);
    client.end();
  });

  client.on('close', () => {
    console.log('SSH connection closed.');
  });

  client.connect(sshConfig);
}



const messageToSend = '1'; // The message you want to send


  </script>


<button onclick="sendToShell(messageToSend, sshConfig);">gogo</button>
</body>
</html> -->







<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>jsQR Demo</title>
  <script src="./jsQR.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Ropa+Sans" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>
</head>
<body>
  <script>
   const executeSSHCommand = async (command) => {
    const response = await fetch('ssh://165.246.44.97:22', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },

        body: JSON.stringify({
          host: '165.246.44.97',
          port: 22,
          username: 'lilmae',
          password: '970512',
            command: command
        })
    });

    const data = await response.text();
    console.log(data);
}

  </script>

  <button onclick="executeSSHCommand('gogo');">gogo</button>
</body>
</html>
